<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="descrption" content="{{ page.description }}">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
  <link rel="alternate" type="application/rss+xml" href="http://rajivrnair.github.io/feed.xml" />

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title>
  {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %}
  </title>
</head>